*.pyc
*.ipynb_checkpoints
*.swp
*/*.swp
testing_out*
temp/*
.DS_Store
benchmarking/input_files*
benchmarking/output_files*
bencharking/input_combos_pd.tsv
*.param
arnie/
contrafold-se/
DegScore/
eternafold/
LinearFold/
LinearPartition/
RiboGraphViz/
vienna/
ViennaRNA-2.6.3/

